.idea/
__pycache__/
**/.DS_Store
**/*.ipynb_checkpoints/
.ipynb_checkpoints/
*.pyc
TODO.md
data/*
src/options_backtest/qc_greeks.py
src/options_backtest/robinhood.py
src/options_backtest/yahoo.py
notebooks
